gl-runner:
  enabled: false
  namespace: gl-runner
  image:
    registry: registry.gitlab.com
    image: gitlab-org/gitlab-runner
    # tag: alpine-v{{.Chart.AppVersion}}

  gitlabUrl: "https://gitlab.com/"
  
  concurrent: 10
  logLevel: "warn"
  logFormat: "json"
  
  connectionMaxAge: "15m"
  
  runners: 
    executor: "kubernetes"
    name: "gl-runner"
    config: |
      [[runners]]
        [runners.kubernetes]
          namespace = "{{ default .Release.Namespace .Values.runners.jobNamespace }}"
          image = "alpine"
          service_account = "runner"
    # secret must contain "runner-token" key with token value that starts with glrt-...
    secret: runner
  resources: 
    limits: {}
    requests:
      memory: 128Mi
      cpu: 100m
      ephemeral-storage: 256Mi

  nodeSelector:
    gl-runner: "true"
  tolerations: 
    - key: gl-runner
      operator: Equal
      value: "true"
      effect: NoSchedule
  podSecurityContext:
    runAsUser: 100
    fsGroup: 65533
  
  serviceAccount:
    name: "runner"
  rbac:
    create: true
    rules:
      - resources: ["events"]
        verbs: ["list", "watch"]
      # - resources: ["namespaces"]
      #   verbs: ["create", "delete"]
      - resources: ["pods"]
        verbs: ["create","delete","get"]
      - apiGroups: [""]
        resources: ["pods/attach","pods/exec"]
        verbs: ["get","create","patch","delete"]
      - apiGroups: [""]
        resources: ["pods/log"]
        verbs: ["get","list"]
      - resources: ["secrets"]
        verbs: ["create","delete","get","update"]
      - resources: ["serviceaccounts"]
        verbs: ["get"]
      - resources: ["services"]
        verbs: ["create","get"]

