gl-runner:
  enabled: false
  gitlabUrl: "https://gitlab.com/"

  concurrent: 10
  logLevel: "warn"
  logFormat: "json"
  
  runners: 
    executor: "kubernetes"
    name: "gl-runner"
    config: |
      [[runners]]
        [runners.kubernetes]
          namespace = "{{ default .Release.Namespace .Values.runners.jobNamespace }}"
          image = "alpine"
          service_account = "runner"
          cpu_request = "{{ default '1000m' .Values.runners.cpuRequest }}"
          memory_request = "{{ default '1024Mi' .Values.runners.memoryRequest }}"
          cpu_limit = "{{ default '' .Values.runners.cpuLimit}}"
          memory_limit = "{{ default '' .Values.runners.memoryLimit}}"
    # secret must contain "runner-token" key with token value that starts with glrt-...
    secret: runner
  resources: 
    limits: {}
    requests:
      cpu: 1000m
      memory: 1024Mi

  nodeSelector:
    runner: "true"
  tolerations: 
    - key: runner
      operator: Equal
      value: "true"
      effect: NoSchedule
  podSecurityContext:
    runAsUser: 100
    fsGroup: 65533
  
  serviceAccount:
    name: "runner"
  rbac:
    create: true
    rules:
      - resources: ["events"]
        verbs: ["list", "watch"]
      # if you want to use different namespases for pods add permissions for namespace create|delete
      # - resources: ["namespaces"]
      #   verbs: ["create", "delete"]
      - resources: ["pods"]
        verbs: ["create","delete","get"]
      - apiGroups: [""]
        resources: ["pods/attach","pods/exec"]
        verbs: ["get","create","patch","delete"]
      - apiGroups: [""]
        resources: ["pods/log"]
        verbs: ["get","list"]
      - resources: ["secrets"]
        verbs: ["create","delete","get","update"]
      - resources: ["serviceaccounts"]
        verbs: ["get"]
      - resources: ["services"]
        verbs: ["create","get"]

