external-dns:
  enabled: false
  extraArgs:
    no-expose-internal-ipv6:
  logFormat: json
  global:
    security:
      allowInsecureImages: true
  image:
    registry: registry.k8s.io
    repository: external-dns/external-dns
    tag: v0.20.0
  resources:
    limits:
      cpu: 300m
      memory: 300Mi
    requests:
      cpu: 10m
      memory: 35Mi
  serviceAccount:
    create: false
    name: external-dns
  sources:
    - service
    - ingress
