global:
  registry: null
ingresses:
  loki-read:
    enabled: false
    name: '{{ include "loki.fullname" . }}-read'
    service:
      name: '{{ include "loki.fullname" . }}-read'
      port: 3100
    className: konghq
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-konghq
      konghq.com/plugins: loki-read-ip-restriction
    hosts:
      - host: "loki.{{ .Values.global.company.domain.env }}"
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: loki-read-tls
        hosts:
          - "loki.{{ .Values.global.company.domain.env }}"

kong-plugins:
  enabled: false
  plugins:
    - name: loki-read-ip-restriction
      plugin_name: ip-restriction
      annotations:
        kubernetes.io/ingress.class: konghq
      config:
        allow:
          - "{{ .Values.global.network.int_nat_gw }}"

loki:
  enabled: false
  deploymentMode: SimpleScalable
  global:
    extraArgs:
      - '-log.format=json'
  test:
    enabled: false
  lokiCanary:
    enabled: false
  serviceAccount:
    create: false
    name: grafana-loki
  loki:
    analytics:
      reporting_enabled: false
    auth_enabled: false
    compactor:
      delete_request_store: ""
      retention_enabled: true
    querier:
      max_concurrent: 4
    limits_config:
      discover_log_levels: false
      discover_service_name: []
      ingestion_rate_mb: 90
      ingestion_burst_size_mb: 40
      max_global_streams_per_user: 9000
      max_label_names_per_series: 20
      per_stream_rate_limit: 15MB
      per_stream_rate_limit_burst: 30MB
      max_query_length: 0s
      split_queries_by_interval: 15m
      # logs retention = 60 days
      retention_period: 1440h
    schemaConfig:
      configs: []
    server:
      grpc_server_max_recv_msg_size: 33554432 #32Mb
      grpc_server_max_send_msg_size: 33554432 #32Mb
    storage:
      use_thanos_objstore: true
  gateway:
    enabled: false
  ingress:
    enabled: false
  write:
    # -- Resource requests and limits for the write
    resources:
      requests:
        cpu: 200m
        memory: 650Mi
      limits:
        cpu: '3'
        memory: 4Gi
  read:
    # -- Resource requests and limits for the read
    resources:
      requests:
        cpu: 50m
        memory: 200Mi
      limits:
        cpu: '3'
        memory: 6Gi
  backend:
    # -- Resource requests and limits for the backend
    resources:
      requests:
        cpu: 30m
        memory: 200Mi
      limits:
        cpu: '1'
        memory: 2Gi
  memcachedExporter:
    # -- Resource requests and limits for the memcached exporters
    resources:
      requests:
        cpu: 10m
        memory: 10Mi
      limits:
        cpu: 200m
        memory: 100Mi
  resultsCache:
    # -- Amount of memory allocated to results-cache for object storage (in MB).
    allocatedMemory: 1024
    # -- Resource requests and limits for the results-cache
    # By default a safe memory limit will be requested based on allocatedMemory value (floor (* 1.2 allocatedMemory)).
    resources:
      requests:
        cpu: 10m
        memory: 30Mi
      limits:
        cpu: '2'
        memory: 1229Mi
  chunksCache:
    # -- Amount of memory allocated to chunks-cache for object storage (in MB).
    allocatedMemory: 8192
    # By default a safe memory limit will be requested based on allocatedMemory value (floor (* 1.2 allocatedMemory)).
    resources:
      requests:
        cpu: 10m
        memory: 8200Mi
      limits:
        cpu: '3'
        memory: 9830Mi
