gha-operator:
  enabled: false
  flags:
    logFormat: "json"
  resources:
    limits:
      cpu: 300m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 15Mi
  serviceAccount:
    name: "gha-operator"
    create: true
