nameOverride: ""
fullnameOverride: ""

configs:
  http_server: true

parsers: {}
inputs: {}
filters: []
outputs: {}

fluentbit:
  enabled: false
  statefulsetEnabled: true
  replicaCount: 1
  revisionHistoryLimit: 2

  image: 'ghcr.io/fluent/fluent-operator/fluent-bit:4.2.0-debug'

  imagePullPolicy: IfNotPresent

  imagePullSecrets: []

  volumeClaimTemplates: {}

  volumes: []
  volumeMounts: []

  env:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: spec.nodeName
    - name: HOST_IP
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: status.hostIP

  persistentVolumeClaimRetentionPolicy:
    whenDeleted: "Delete"

  clusterRole:
    enabled: false
    name: '{{ include "fluentbit.fullname" . }}'
    rules: []
    serviceAccount:
      name: '{{ include "fluentbit.serviceAccountName" . }}'
      namespace: '{{ .Release.Namespace }}'

  role:
    enabled: false
    name: '{{ include "fluentbit.fullname" . }}'
    rules: []
    serviceAccount:
      name: '{{ include "fluentbit.serviceAccountName" . }}'
      namespace: '{{ .Release.Namespace }}'

  serviceAccount:
    create: true
    annotations: {}
    name: ""

  pvcs: {}

  pvs: {}

  initContainers: {}

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    enabled: true
    name: '{{ include "fluentbit.fullname" . }}'
    type: ClusterIP
    ports:
      - port: 80
        targetPort: http
        protocol: TCP
        name: http

  resources: {}

  ports: []
  #  - name: http
  #    containerPort: 3001
  #    protocol: TCP

  livenessProbe: {}
  #  httpGet:
  #    path: /
  #    port: http

  readinessProbe: {}
  #  httpGet:
  #    path: /
  #    port: http

  command: []

  args: []

  serviceMonitor:
    enabled: false
    prometheusSelector: {}
    labels: {}
    targetLabels: []
    endpoints:
      - targetPort: 2020
        path: /metrics

  ingress:
    enabled: false
    name: '{{ include "fluentbit.fullname" . }}'
    className: ""
    service:
      port: 80
      name: '{{ .Values.fluentbit.service.name }}'
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
