#Cant use pomerium jwt to create users in argocd
#until this is merged https://github.com/argoproj/argo-cd/pull/20928
ingresses:
  server:
    enabled: false
    name: '{{ include "argocd.fullname" . }}-srv'
    service:
      name: '{{ include "argocd.fullname" . }}-server'
      port: 80
    className: "{{ .Values.global.ingress.class }}"
    annotations:
      cert-manager.io/cluster-issuer: '{{ printf "letsencrypt-%s" .Values.global.ingress.class }}'
      ingress.pomerium.io/pass_identity_headers: 'true'
      ingress.pomerium.io/policy: |
        {{- tpl .Values.global.pomerium.policy.default $ | indent 2 }}

    hosts:
    - host: "ag.{{ .Values.global.company.domain.env }}"
      paths:
      - path: /
        pathType: ImplementationSpecific
    tls:
    - secretName: ag-tls
      hosts:
      - "ag.{{ .Values.global.company.domain.env }}"

argocd:
  enabled: false
  crds:
    install: false

  global:
    logging:
      format: json

  configs:
    cm:
      create: true
    params:
      server.insecure: true

  redis:
    enabled: false

  redis-ha:
    enabled: false
    hardAntiAffinity: false
    haproxy:
      hardAntiAffinity: false

  controller:
    resources:
      limits:
        cpu: 3000m
        memory: 4Gi
      requests:
        cpu: 350m
        memory: 1Gi
    serviceAccount:
      create: false
      name: argocd
    replicas: 1

  server:
    replicas: 2
    resources:
      limits:
        cpu: 500m
        memory: 350Mi
      requests:
        cpu: 50m
        memory: 70Mi
    serviceAccount:
      create: false
      name: argocd

  repoServer:
    replicas: 2
    resources:
      limits:
        cpu: 2000m
        memory: 600Mi
      requests:
        cpu: 150m
        memory: 150Mi

  applicationSet:
    replicas: 1
    resources:
      limits:
        cpu: 150m
        memory: 150Mi
      requests:
        cpu: 10m
        memory: 30Mi

  dex:
    enabled: false

  notifications:
    enabled: false

certificates:
  enabled: false

redis:
  enabled: false
  redisServiceMonitor:
    enabled: true
    prometheusSelector:
      prometheus: main
  sentinelServiceMonitor:
    enabled: true
    prometheusSelector:
      prometheus: main
  auth:
    secretPath: argocd-redis
  sentinel:
    replicas: 3
    resources:
      requests:
        cpu: 10m
        memory: 10Mi
      limits:
        memory: 200Mi
        cpu: 1000m
    exporter:
      enabled: true
  redis:
    replicas: 3
    resources:
      requests:
        cpu: 50m
        memory: 10Mi
      limits:
        cpu: 1100m
        memory: 250Mi
    exporter:
      enabled: true

probes:
  enabled: false
  probes:
    argocd:
      enabled: false
      selector:
        prometheus: main
      spec:
        prober:
          url: 'prometheus-{{ .Values.global.environment.name }}-prometheus-blackbox-exporter.prometheus.svc.cluster.local:9115'
        jobName: argocd
        module: http_3xx
        targets:
          ingress:
            selector:
              matchLabels:
                app.kubernetes.io/name: 'argocd-server'
            namespaceSelector:
              any: true
